{% extends 'frontend/base.html' %}
{% block title %}{{ course.course_name }} | {{ block.super }}{% endblock %}
{% block toolbar_title %}{{ course.course_code }}{% endblock %}
{% block vue_content %}
    <v-content>
        <v-container fluid fill-height>
            <v-layout justify-center align-center>
                <template>
                    <v-data-table
                            :headers='[{"text": "Month", "value": "month"}, {"text": "Comments", "value": "comments"},
                                       {"text": "Status", "value": false}]'
                            :items='[
                        {% for feedback in course.feedbackteachingassistant_set.all %}{"approved": {% if feedback.approve %}true{% else %}false{% endif %},
                            "month": "{{ feedback.get_month_display }}",
                            "comments": "{{ feedback.comments }}"
                        },{% endfor %}
                ]'
                            hide-actions
                            class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <td>{% templatetag openvariable %} props.item.month {% templatetag closevariable %}</td>
                            <td>{% templatetag openvariable %} props.item.comments {% templatetag closevariable %}</td>
                            <td>
                                <span v-if="props.item.approve">Approved</span>
                                <span v-else>Unapproved</span>
                            </td>
                        </template>
                    </v-data-table>
                </template>
            </v-layout>
        </v-container>
    </v-content>
{% endblock %}