{% extends 'frontend/base.html' %}
{% block toolbar_title %}Dashboard{% endblock %}
{% block vue_content %}
    <v-content>
        <v-container fluid fill-height>
            <v-layout justify-center align-center>
                <v-card color="white" width="50%">
                    <v-container fluid grid-list-lg>
                        <v-layout row>
                            <v-flex xs12>
                                <h3>Personal Details</h3>
                            </v-flex>
                        </v-layout>
                        <v-layout row>
                            <v-flex xs6>
                                <div>
                                    <div>Name</div>
                                    <div class="headline">{{ user.get_full_name }}</div>
                                </div>
                                <div>
                                    <div>Program</div>
                                    <div class="headline">{{ profile.get_program_display }}</div>
                                </div>
                            </v-flex>
                            <v-flex xs6>
                                <div>
                                    <div>Roll Number</div>
                                    <div class="headline">{{ user.username }}</div>
                                </div>
                                <div>
                                    <div>Phone</div>
                                    <div class="headline">{{ profile.phone }}</div>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-layout>
        </v-container>
    </v-content>
{% endblock %}