{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block title %}Login | {{ block.super }}{% endblock %}
{% block content %}
    <v-app id="login">
        <v-toolbar color="blue darken-3" dark app fixed>
            <v-avatar size="32px" tile>
                <img src="https://vuetifyjs.com/static/doc-images/logo.svg"
                     alt="IIT-J Logo">
            </v-avatar>
            <v-toolbar-title class="ml-0 pl-3">
                <span>TA Management Portal | IIT Jodhpur</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Login</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form method="post">
                                    {% csrf_token %}
                                    <v-text-field prepend-icon="person" name="username" label="Roll Number"
                                                  type="text"></v-text-field>
                                    <v-text-field prepend-icon="lock" name="password" label="Password" id="password"
                                                  type="password"></v-text-field>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <span>Forgot password?</span>
                                        <v-btn type="submit" color="primary">Login
                                        </v-btn>
                                    </v-card-actions>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
{% endblock %}